body{
	font-family: $font-primary;
	color: $color-black;
	font-weight: $smallest-font-weight;
	font-size: $default-font-size;
	line-height: 1.6;
}

//Headers and paragraphs styling
.heading-primary{
	font-size: $largest-font-size;
	font-weight: $medium-font-weight;
	backface-visibility: hidden; /*убирает маленький рывок после анимации */
	@media only screen and (max-width: $bp-13) {
		font-size: $largest-font-size-1;
	}

	@media only screen and (max-width: $bp-14-1) {
		font-size: $largest-font-size-2;
	}

	@media only screen and (max-width: $bp-15-1) {
		font-size: $largest-font-size-3;
	}
}

.heading-secondary{
	font-size: $largest-font-size-1;
	color: $color-secondary;
	font-weight: $small-font-weight;
	letter-spacing: $small-letter-space;

	@media only screen and (max-width: $bp-13) {
		font-size: $largest-font-size-3 !important;
	}

	@media only screen and (max-width: $bp-14-1) {
		font-size: $largest-font-size-4 !important;
	}

	@media only screen and (max-width: $bp-15-1) {
		font-size: $largest-font-size-5 !important;
	}
}

.heading-tertiary {
	font-size: $medium-font-size;
	font-weight: $small-font-weight;
}

.heading-fourth {
	font-size: $default-font-size;
	font-weight: $smallest-font-weight;
}

.sub-head{
	font-size: $large-font-size;
	color: $color-grey-dark;

	@media only screen and (max-width: $bp-13) {
		font-size: $large-font-size-1 !important;
	}

	@media only screen and (max-width: $bp-14-1) {
		font-size: $large-font-size-2 !important;
	}

	@media only screen and (max-width: $bp-15-1) {
		font-size: $large-font-size-3 !important;
	}
}


// INDEX_SEARCH
.index-search {
	
	&__top {
		&-heading {
			font-size: $largest-font-size-3;
		}
	}

	&__tabs {
		
	}

	&__tab {
		text-transform: uppercase;
		color: $color-secondary-dark;
		font-size: $small-font-size;
		letter-spacing: .1rem;
	}

	.form {

		&__heading {

			&-close {
				font-size: $default-font-size-3;
				color: $color-grey-dark-3;
			}
		}
		
		&__selection-group {
		
		}

		&__level{
			
		}

		&__group-heading {
			font-size: $default-font-size-2;
			color: $color-secondary-light;
		}

		label {
			color: $color-secondary-dark;
		}

		&__size {
			
		}

		&__location-wrapper {
			
			div {
			
			}
		}

		&__location {
			font-size: $default-font-size-2;
			
			& + div {
				
			}

			&:focus {
			
				& + div {
					
				}
			}
		}

		&__btn {
			
		}
	}

	&__content {
		&-heading {
			font-size: $default-font-size-3;
			color: $color-grey-dark-1;
		}
	}

	&__jobs {
		
			
		&-item {
			.btn-text {
				font-size: $default-font-size-2;
			}
		}

		&-pin {
			color: $color-white;
			letter-spacing: .1rem;
		}	

		&-description {
			& > * {
				font-size: $default-font-size;
			}
		}

		&-name {
			color: $color-secondary-dark;
		}

		&-location {
			& > * {
				font-size: $default-font-size;
			}
		}
	}

	

	&__company-name {
		text-transform: uppercase;
		letter-spacing: .1rem;
		color: $color-grey-dark-1;
	}

	&__location-note {
		text-transform: uppercase;
		color: $color-grey-dark-1;
	}

	&__location {
		color: $color-secondary-dark;
	}

	&__companies {

		&-item {

		}

		&-img {
			
		}

		&-content {
			
		}

		&-name {
			text-transform: uppercase;
			font-size: $large-font-size-1;
			font-weight: $medium-font-weight;
			letter-spacing: .2rem;
			color: $color-grey-dark-3;
		}

		&-description {
			color: $color-secondary-dark;
		}
	}

	&__btn {
		font-size: $default-font-size;

		@media only screen and (max-width: $bp-16) {
			font-size: $small-font-size;
		}

		&--prev,
		&--next {
			color: white;
			font-size: $small-font-size;
		}


		&--prev {
			
		}

		&--next {
			
		}
	}

	&__content-nums {
		
	}
}


// NAVIGATION
.page-nav{
	&__container {

	}


	&__item {

		// Put all elements after the first to right
		&-logo {

		}

		&:nth-child(2) {

		}

		&-img {

		}

		&-link {
			text-decoration: none;
		}
	}

	&__item-list {

	}

	&__list-item {
		text-transform: uppercase;
		font-weight: $smallest-font-weight;
		font-size: $default-font-size;
	}
}



// SECTION INDEX-HERO
.index-hero{

	&__container{
		
	}
	
	&__heading{
		
	}

	&__text{
		font-size: $medium-font-size;
		font-weight: $small-font-weight;

		@media only screen and (max-width: $bp-13) {
			font-size: $large-font-size-2;
		}

		@media only screen and (max-width: $bp-14-1) {
			font-size: $large-font-size-3;
		}

		@media only screen and (max-width: $bp-15-1) {
			font-size: $default-font-size-3;
		}
	}

	.form{

		&__level{
			
		}

		&__group-heading{
			font-size: $default-font-size-2;
			color: $color-secondary-light;
		}

		label{
			color: $color-secondary-dark;
		}

		&__size{

		}

		&__location{
			font-size: $small-font-size;
		}

		&__btn{
			font-weight: $medium-font-weight;
		}
	}
}

// SECTION INDEX-HOW
.index-how{
	&__container{
		grid-column: center-start / center-end;
		
	}

	&__sub-head{
		
	}

	&__heading{
		
	}

	&__items{

	}

	&__item{

		&-icon{

		}

		&-content{
			
		}

		&-link{
			
		}
	}
}


//SECTION INDEX_FIND
.index-find{
	background-color: $color-grey;
	text-align: center;

	&__container{
		grid-column: center-start / center-end;
	}

	&__sub-head{
		font-size: $large-font-size-1;	
	}

	&__heading{
		font-size: $largest-font-size;
	}

	&__cards{
		
		&--first{

		}

		&--second{

		}
			
	}

	&__link{
		
	}
}

.index-why{
	&__item{
		color: $color-grey-dark-1;
		font-size: $default-font-size-2;
		&--title{
			color: $color-primary;
			font-size: $largest-font-size-3;
		}
	}
}

//SECTION FOOTER
.footer{
	&__item{
		color: $color-secondary-light;
		&-header{
			color: $color-primary;
			text-transform: uppercase;
			font-size: $default-font-size-2;
			font-weight: $medium-font-weight;
		}

		&-list{
			font-size: $default-font-size-2;
			list-style: none;
			line-height: 3.1rem;
		}

		&-link{
			text-decoration: none;
			color: currentColor;
			&:hover{
				color: #18A3FF;
				text-decoration: underline;
			}
		}

		&-mail{
			color: #18A3FF;
			font-size: $default-font-size-2;
		}
	}
}




//!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!COMPONENTS!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
//CARD TYPOGRAPHY
.card{
	&__img{
			
	}

	&__type{
		
		//text-transform: uppercase;
		font-size: $small-font-size;
		letter-spacing: .1rem;
		font-weight: $medium-font-weight;

		&--pink{

		}

		&--grey{

		}
	}

	a {
		text-decoration: none;
	}

	&__content{
		color: $color-secondary;
		text-align: left;
	}

	&__heading{
		font-size: $medium-font-size;
		font-weight: $small-font-weight;
	}

	&__text{

	}

	&-publication{
		
	}

	&__notes{

		&-level{

		}

		&-type{

		}
	}

	

	//**************** SECOND TYPE OF CARDS *************************//
	&-second{

		img{
			
		}

		&__content{
			&-paragraph{
				color: $color-secondary-light;
				font-size: $medium-font-size;
			}

			&-link{
				color: $color-primary;
				font-size: $default-font-size-2;
				text-decoration: none;
			}
		}
	}
	//**************** END OF SECOND TYPE OF CARDS *************************//

	
}