%main-grid-columns {
	grid-template-columns:[full-start] minmax(6rem, 1fr) [center-start]
						   repeat(10, [col-start] minmax(min-content, 12.4rem)
						   [col-end]) [center-end] minmax(6rem, 1fr) [full-end];

	@media only screen and (max-width: $bp-13) {
		grid-template-columns:[full-start] minmax(3rem, 1fr) [center-start]
						   repeat(10, [col-start] minmax(min-content, 12.4rem)
						   [col-end]) [center-end] minmax(3rem, 1fr) [full-end];
	}

	@media only screen and (max-width: $bp-17) {
		grid-template-columns:[full-start] minmax(2rem, 1fr) [center-start]
						   repeat(10, [col-start] minmax(min-content, 12.4rem)
						   [col-end]) [center-end] minmax(2rem, 1fr) [full-end];
	}

}

%main-sections-styles {
	display: grid;
	@extend %main-grid-columns;
	justify-items: center;
	padding: $section-padding;
	@media only screen and (max-width: $bp-17) {
			padding: $section-padding-sm;
	}
}

//* FOR DEVELOPMENT *//
/*body{
	margin-bottom: 100vh;
}*/

//*Section query reaction*//
.index-search {
	@extend %main-grid-columns;
}

.page-nav {
	display: grid;
	padding: $section-padding-small;
	@extend %main-grid-columns;
	
	@media only screen and (max-width: $bp-13) {
			padding: $section-padding-sm;
	}
}

#main {
	.index-hero {
		@extend %main-sections-styles;
		padding-bottom: $section-padding-bottom-top;
		padding-top: 0;
		@media only screen and (max-width: $bp-17) {
			padding-bottom: $section-padding-bottom-top-sm;
		}
	}

	.index-how {
		@extend %main-sections-styles;
	}

	.index-find{
		@extend %main-sections-styles;
	}

	.index-discover {
		@extend %main-sections-styles;
	}

	.index-why {
		@extend %main-sections-styles;
	}

	.index-cta {
		@extend %main-sections-styles;
	}
}

.footer {
		@extend %main-sections-styles;
		padding-top: $section-padding-medium;
		padding-bottom: $section-padding-bottom-top-sm;
}
