.footer{
	.container{
		grid-column: center-start / center-end;
		width: 100%;
	}

	&__items{
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(min-content, 24.8rem));
		justify-content: center;
		grid-row-gap: $row-gap-1;

		@media only screen and (max-width: $bp-7) {
			grid-template-columns: repeat(auto-fit, minmax(min-content, 22.8rem));
		}

		@media only screen and (max-width: $bp-15) {
			grid-template-columns: repeat(auto-fit, minmax(min-content, 19.4rem));
		}
	}

	&__item{
		
		&:last-child {
			justify-self: end;

			@media only screen and (max-width: $bp-9-1) {
				justify-self: start;
			}
		}

		&-btn{
			.btn{
				padding: 1.4rem 3.5rem;
				display: inline-block;
				&:hover{
					text-decoration: none;
					color: $color-white;
				}
			}
		}

		&-header {
			margin-bottom: 2rem;
		}

		&-list{
			&--icons{
				display: flex;

				li{
					&:not(:last-child){
						margin-right: 2rem;
					}
				}
			}
		}

		&-icon{
			fill: $color-primary;
			width: 2rem;
			height: 2rem;
			opacity: .6;
			transition: $faster-main-transition;
			&:hover{
				opacity: 1;
			}
		}
	}
}