.index-hero{
	background-image:  url(/img/index-hero-bg-small-2.png);
	background-repeat: repeat-x;
	background-position: bottom;
	height: 75vh;

	&__container{
		grid-column: center-start / center-end;
		display: grid;
		grid-template-rows: repeat(3, min-content);
		justify-items: center;
		grid-row-gap: $small-row-gap;
	}
	
	&__heading{
		color: $color-secondary;
	}

	&__text{
		color: $color-secondary-dark;
	}

	.form{
		padding: .6rem 1.6rem;
		background-color: $color-white;
		display: flex;
		align-items: flex-start;
		border-radius: $primary-border-radius-1;
		box-shadow: $primary-shadow;
		
		& > *:not(:last-child)
		{
			position: relative;
			margin-right: $column-gap;

			&::after{
				content: "";
				left: calc(100% + 2rem);
				position: absolute;
				height: 9rem;
				border-right: .1rem solid $color-grey-dark;
			}
		}

		&__selection-group{
			display: grid;
			grid-template-columns: repeat(2,11rem);
			justify-items: left;
			grid-gap: $smallest-row-gap;
		}

		&__level{
			
		}

		&__group-heading{
			justify-self: center;
			grid-column: 1 / -1;
		}

		label{
				cursor: pointer;
		}

		&__size{
			grid-template-columns: repeat(3, 7.5rem);
			justify-items: center;
		}

		&__location-wrapper{
			
			div{
				grid-column: 1 / -1;
			}
		}

		&__location{
			outline: none;
			padding: .4rem 1rem;
			border: 1px solid $color-grey-dark;
			border-radius: 10rem;
			background-color: $color-grey-light-1;
			transition: $faster-main-transition;
			width: 90%;
			z-index: 100;
			
			& + div {
				width: 90%;
				transition: $faster-main-transition;
			}

			&:focus{
				width: 100%;
				& + div {
					width: 100%;
				}
			}
		}

		&__btn{
			align-self: center;
		}
	}

}