.index-find{
	background-color: $color-grey;
	text-align: center;

	&__container{
		grid-column: center-start / center-end;
		width: 100%;
	}

	&__sub-head{

	}

	&__heading{

	}



	&__cards{

		&--first{

		}

		&--second{

		}
			
	}	

	&__link{
		display: inline-block;
	}
}