.index-why{
	background-color: $color-grey;

	&__container{
		grid-column: center-start / center-end;
		text-align: center;
		width: 100%;
	}

	&__items{
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(20rem, 25rem));
		grid-row-gap: $row-gap;
		justify-content: center;
		grid-column-gap: $medium-column-gap;
		align-items: baseline;
	}

	&__item{
		&-img{
			width: 19.5rem;
		}
		&:nth-child(1){
					img{
						width: 18.5rem;
					}
					p:nth-child(3){
						margin-left: -1.7rem;
					}
				}

		&:nth-child(3){
					img{
							width: 17.5rem;
						}			
				}
		&--title{
			margin-top: 2rem;
		}
	}
}