.index-cta{
	position: relative;
	background-image: url(/img/svg/cta-bg.svg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 100%;

	&__container{
		grid-column: 4 / 10;
		text-align: center;
	}

	&__link{
		display: inline-block;
	}
}